<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/profile.css">
    <title>Profile</title>
</head>
<body>
    <div class="profile_page">
        <!-- <div class="sidebar">
            <div class="main_links">
                <a href="">Register</a>
                <a href="">Attendance</a>
                <a href="">Workspace</a>
            </div>
            <a href="">Logout</a>
        </div> -->
        <div class="main">
            <div class="top_details">
                <img src="../../static/asserts/profile.png" alt="" class="profile_img">
                <div class="name_info">
                    <h1>Name</h1>
                    <p>Designation</p>
                </div>
                <a href="" class="comp_profile">Edit Profile</a>
            </div>
            <div class="main_box">
                <div class="id main_box_child">
                    <p>Id Number : </p>
                </div>
                <div class="lab main_box_child">
                    <p>Lab Name : </p>
                </div>
                <div class="email main_box_child">
                    <p>Registered Email : </p>
                </div>
                <div class="mobile main_box_child">
                    <p>Registered Mobile Number : </p>
                </div>
                <div class="invite_link main_box_child">
                    <p>Invitation Link : </p>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>