<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <header class="header">
        <h1>Attendance Manager</h1>
    </header>

    <main>
        <img id="login_bg_img" src="../../static/asserts/login_bg_img.png" alt="">
        <div class="main_child">
            <div id="login">Login</div>
            <div class="login_form">
                <form method="post">
                    <div class="input_info">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="input_info">
                        <label for="pass">Password</label>
                        <input type="password" name="pass" id="pass">
                    </div>
                    <input type="submit" id="submit">
                    <div id="line"></div>
                    <p>coming for the first time? <a href="#" target="_blank">signup</a></p>
                </form>
            </div>  
        </div>
    </main>

</body>
</html>