<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/base.css">
    <title>base</title>
</head>
<body>
    <header class="header">
        <h1>Attendance Manager</h1>
        <nav class="nav">
            <a href="#" class="profile_button">
                <img src="../static/asserts/profile.png" alt="">
                <div class="profile_name">
                    <h1>Name</h1>
                    <p>Degisnation</p>
                </div>
            </a>
        </nav>
    </header>
    <div class="sidebar">
        <div class="main_links">
            <a href="">Register</a>
            <a href="">Attendance</a>
            <a href="">Workspace</a>
        </div>
        <a href="">Logout</a>
    </div>
    <main>

    </main>
</body>
</html>